VITE_APPWRITE_URL = "https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECCT_ID="675358ee003dc830e310"
VITE_APPWRITE_DATABASE_ID="675359a4001d6bed3621"
VITE_APPWRITE_COLLECTION_ID="675359c6003be19c79c9"
VITE_APPWRITE_BUCKET_ID="67535acc000bf9a013b9"